<div class="container">
  <h1>Historial de Análisis</h1>
  <div *ngIf="history.length === 0" class="empty-history">
    <p>No hay análisis guardados.</p>
  </div>
  <div *ngFor="let record of history" class="record">
    <div class="record-header">
      <span>{{ record.date | date:'short' }}</span>
    </div>
    <div class="record-body">
      <div class="image-container">
        <img [src]="record.imageUrl1" alt="Imagen Calle A">
        <div>
          <p>Calle A: {{ record.vehicleCountA }} vehículos</p>
          <div class="side-traffic-light">
            <div class="light red" [ngClass]="{ 'on': record.lightA === 'red' }"></div>
            <div class="light yellow" [ngClass]="{ 'on': record.lightA === 'yellow' }"></div>
            <div class="light green" [ngClass]="{ 'on': record.lightA === 'green' }"></div>
          </div>
        </div>
      </div>
      <div class="image-container">
        <img [src]="record.imageUrl2" alt="Imagen Calle B">
        <div>
          <p>Calle B: {{ record.vehicleCountB }} vehículos</p>
          <div class="side-traffic-light">
            <div class="light red" [ngClass]="{ 'on': record.lightB === 'red' }"></div>
            <div class="light yellow" [ngClass]="{ 'on': record.lightB === 'yellow' }"></div>
            <div class="light green" [ngClass]="{ 'on': record.lightB === 'green' }"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
