<div class="header">
  Traffic Light Viewer
  <div class="upload-btn">
    <label>
      <input type="file" (change)="onImageUpload($event, 'A')" hidden />
      <span>Prueba nuestro modelo</span>
    </label>
  </div>
</div>
<div class="dashboard-container">
  <div class="dashboard-content">
    <div class="street-card">
      <div class="side-traffic-light">
        <div class="light red" [ngClass]="{'on': streetA.light === 'red'}"></div>
        <div class="light yellow" [ngClass]="{'on': streetA.light === 'yellow'}"></div>
        <div class="light green" [ngClass]="{'on': streetA.light === 'green'}"></div>
      </div>
      <div class="card-content">
        <img [src]="imagenUrl1" alt="Calle A" class="street-image" />

        <div class="info">
          <div>Predicción: {{streetA.prediction}}</div>
          <div>Cantidad Vehículos: {{streetA.vehicleCount}}</div>
        </div>
      </div>
    </div>
    <div class="street-card">
      <div class="card-content">
        <img [src]="imagenUrl2" alt="Calle B" class="street-image" />

        <div class="info">
          <div>Predicción: {{streetB.prediction}}</div>
          <div>Cantidad Vehículos: {{streetB.vehicleCount}}</div>
        </div>
      </div>
      <div class="side-traffic-light right">
        <div class="light red" [ngClass]="{'on': streetB.light === 'red'}"></div>
        <div class="light yellow" [ngClass]="{'on': streetB.light === 'yellow'}"></div>
        <div class="light green" [ngClass]="{'on': streetB.light === 'green'}"></div>
      </div>
    </div>
  </div>
</div>
<app-footer-menu></app-footer-menu>