<div class="header">
  <div class="left-action">
    <button class="analysis-btn">Análisis de Imágenes</button>
  </div>

  Traffic Light Viewer

  <div class="upload-btn" style="display: none;">
    <label>
      <input type="file" (change)="onImageUpload($event)" hidden />
      <span>Prueba nuestro modelo</span>
    </label>
  </div>
</div>


<div class="dashboard-container">
  <div class="dashboard-content">
    <div class="street-card">
      <div class="side-traffic-light">
        <div class="light red" [ngClass]="{'on': streetA.light === 'red'}"></div>
        <div class="light yellow" [ngClass]="{'on': streetA.light === 'yellow'}"></div>
        <div class="light green" [ngClass]="{'on': streetA.light === 'green'}"></div>
      </div>
      <div class="card-content">
        <img [src]="imagenUrl1" alt="Calle A" class="street-image" />
        <button class="image-action-btn">Acción Imagen A</button>
        <div class="info">
          <div>Predicción: {{streetA.prediction}}</div>
          <div>Cantidad Vehículos: {{streetA.vehicleCount}}</div>
        </div>
      </div>
    </div>

    <div class="street-card">
      <div class="card-content">
        <img [src]="imagenUrl2" alt="Calle B" class="street-image" />
        <button class="image-action-btn">Acción Imagen B</button>
        <div class="info">
          <div>Predicción: {{streetB.prediction}}</div>
          <div>Cantidad Vehículos: {{streetB.vehicleCount}}</div>
        </div>
      </div>
      <div class="side-traffic-light right">
        <div class="light red" [ngClass]="{'on': streetB.light === 'red'}"></div>
        <div class="light yellow" [ngClass]="{'on': streetB.light === 'yellow'}"></div>
        <div class="light green" [ngClass]="{'on': streetB.light === 'green'}"></div>
      </div>
    </div>
  </div>

  <!-- Mensaje debajo de los street-card -->
  <div class="message-box" *ngIf="mensajeVisible">
    {{ mensajeTexto }}
  </div>
</div>



<app-footer-menu></app-footer-menu>

<ng-container *ngIf="showPredictionModal">
  <div class="prediction-modal-backdrop" (click)="closePredictionModal()"></div>
  <div class="prediction-modal">
    <h2>Análisis de Imagen</h2>
    <img [src]="predictionImage" alt="Imagen subida" class="modal-image" />
    <div class="modal-info">
      <strong>Cantidad de vehículos contados:</strong>
      <span class="modal-count">{{ predictionVehicleCount }}</span>
    </div>
    <button class="close-btn" (click)="closePredictionModal()">Cerrar</button>
  </div>
</ng-container>
